<!DOCTYPE html>
<html>
  <head>
    <title>Notenote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </p>

  <% if user_signed_in? %>
    <h3>You are logged <%= current_user.email %></h3>
    <%= link_to "Edit profile", edit_user_registration_path %>
    <%= link_to "Sign_out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>

  <% end %>



    <%= yield %>
  </body>
</html>


